@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.fruitstand {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0 30px;
}

.fruit__image {
  width: 100%;
  max-width: 350px;
}
